@imagepath: '../../dist';
@footer-logo-width: 127px;
@footer-logo-height: 26px;

#footer .footer-body,
#footer-logo a {
    background: url('@{imagepath}/atlassian/atlassian-horizontal-neutral.svg') center bottom no-repeat;
    background-size: @footer-logo-width @footer-logo-height;
}

#footer-logo {
    background: #f5f5f5; // screen out the background image on the footer when the logo is present, so it doesn't mess up transparent areas
    position: relative;
    bottom: -21px; // margin plus 1 px to tweak for image
}

#footer-logo a {
    display: block;
    height: @footer-logo-height;
    margin: 0 auto;
    text-align: left;
    text-indent: -9999em;
    width: @footer-logo-width;
}

#footer-logo a:focus,
#footer-logo a:hover,
#footer-logo a:active {
    background-image: url('@{imagepath}/atlassian/atlassian-horizontal-blue.svg');
}
